---
import  "../../styles/global.css"
const objectives = [
  {
    title: "Promote Learning",
    desc: "Foster continuous learning through workshops, seminars, and hands-on projects that enhance technical skills and knowledge.",
    icon: "/assets/images/book.svg",
    color: "#057AC033 #057AC00D"
  },
  {
    title: "Cultivate Innovation",
    desc: "Encourage creative thinking and innovative solutions to real-world problems through hackathons and project competitions.",
    icon: "/assets/images/flight.svg",
    color: "#24A64433 #24A6440D"
  },
  {
    title: "Facilitate Collaboration",
    desc: "Build strong networks and partnerships between students, faculty, and industry professionals for mutual growth.",
    icon: "/assets/images/team.svg",
    color: "#09467133 #0946710D"
  }
];
---

<section class="bg-[#F0F4F84D] p-[64px]">
<div class="flex-col mb-[64px]">
  <header class="text-[48px] font-bold text-center gap-x-2 mb-[14px]">
  <span class="text-[#1E293B]">Our</span><span class="text-[#057AC0]"> Objectives</span>
</header>

<p class="text-[#475569] text-[18px] max-w-[672px] text-center mx-auto">
  We are committed to achieving these core objectives that drive our community
forward and create lasting impact.
</p>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-[32px]">
  {objectives.map((obj) => (
    <div class="bg-[#FFFFFF1A] h-full, h-[350px] max-w-[394.66px] rounded-[12px] border-[#FFFFFF33] border-[1px] p-8 text-left shadow-[0px_1px_2px_-1px_#0000001A,0px_1px_3px_0px_#0000001A] backdrop-blur-[10px] py-[25px] px-[1px]">
      <div class={`w-[64px] h-[64px] mt-[32px] ml-[32px] flex items-center justify-center rounded-[33554400px] mb-4`} style={`background: linear-gradient(135deg, ${obj.color.split(" ")[0]}, ${obj.color.split(" ")[1]})`}>
        <span class="text-2xl"><img src={obj.icon}></span>
      </div>
      <h3 class="text-lg text-[#1E293B] ml-[32px] font-semibold text-[20px]">{obj.title}</h3>
      <p class="text-[#475569] text-[16px] w-[328.66] h-[104] flex font-normal justify-center items-center ml-[32px] mr-[12px]">{obj.desc}</p>
    </div>
  ))}
</div>
</section>

